*{
	box-sizing:border-box;
}

body{
	background-color:#00a3d3;//e9e9e9;
	font-family: Thonburi;
}

header{
	margin-bottom: 25px;
}


header h1{
	text-align: center;
}


.logo,
.menu,
.title {
	text-align: center;
	color:#ecf0f1;
	opacity:.7;
}

.topic__1,
.topic__1__content--left,
.topic__1__content--right,
.topic__1__content--middle {
	margin-top: 20px;
	color:#ecf0f1;
	opacity:.4;
}

.topic__1 h2,
.topic__1__content--left h3,
.topic__1__content--right h3,
.topic__1__content--middle h3 {

	font-family: Zapfino;
}

.topic__1{
	opacity:.6;
}

.footer__container {
	background-color: gray;
}

.footer__contact {

	margin-top: 20px;
	color:#ecf0f1;
	opacity:.7;
}




