*{
	box-sizing:border-box;
	padding:0;
	margin:0;
}

body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


p {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 4px;
		padding-top: 20px;
}


header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color:#323130;
}	


nav{
	float:left;
    width: 100%;
    height: 75px;
    //border:solid 1px white;
}

nav ul{
    float:left;
    width:60%;
    //border:solid 1px white;
    margin-left: 20%;
}

nav li{
    display: inline-block;
    text-decoration: none;
    margin-top:30px;
    float:left;
    //border:solid 1px white;
    margin-left:3%;

}

nav li a{
    text-decoration: none;
    font-size: .9em;
    padding:0 .75em;
    font-family: Thonburi;
    color:#999;
    //border:solid 1px white;

}

nav li a:hover{
    text-decoration: underline;
    color:#00a3d3;
}

.logo img {
	width:100px;
	margin:20px 0 0 20px;
	opacity: .95;
	z-index: 1000;
}

main {
	padding-top: 50px; 
}


.full_window {

}

.opener {

	background: url("../images/over3.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:1000px;
}


.welcome {
	position:absolute;
	margin-top: 25%;
	//border:solid 1px white;
	z-index: 10;
}

.welcome h1 {
font-family: 'Amatic SC', cursive;
//font-family: 'Rock Salt', cursive;
font-size: 5em;
font-weight: bold;
color:#ecf0f1;
width:50%;
word-spacing: 15px;
letter-spacing: 10px;
//border:solid 1px white;
}

.welcome h2 {
	margin-top:25px;
	font-size: 35px;
	color:#ecf0f1;
	font-family: 'Amatic SC', cursive;
}

.about {
background-size: cover;
  height:1000px;
  background-color: #F4F1ED;

}

.intro h1 {
font-family: 'Amatic SC', cursive;
font-size: 5em;
font-weight: bold;
color:black;
word-spacing: 15px;
letter-spacing: 10px;
text-align: center;
padding:75px 0 50px 0;
}

.intro h2 {
	font-size: 16px;
	line-height: 24px;
	color:#666;
	//font-family: 'Amatic SC', cursive;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row2 {
	margin-top:120px;
}

.work {
background-size: cover;
  height:1200px;
  background-color: #D2DFDB;

}

/*.row2 {

	float:left;
	width:100%;

}*/

.about__topic--left h3,
.about__topic--middle h3,
.about__topic--right h3{
width:50%;
background-color:#555;
padding:10px 0 10px 5px;
color:#ecf0f1;
font-size: 16px;
}


.about__topic--left p,
.about__topic--middle p,
.about__topic--right p{
margin-top:10px;
background-color: white;//888;
height:200px;
padding-left:8px;
font-size: 16px;
border:solid 5px #888;

}

.web_row2 {
	padding-top:25px;
	margin-bottom: 100px;
}

.work__topic--left h3,
.work__topic--middle h3,
.work__topic--right h3{
width:50%;
background-color:#555;
padding:10px 0 10px 5px;
color:#ecf0f1;
font-size: 16px;
}

.work__topic--left p,
.work__topic--middle p,
.work__topic--right p{
margin-top:10px;
background-color: white;//888;
height:200px;
padding-left:8px;
font-size: 16px;
border:solid 5px #888;

}


.row0 .col-1-1 .topic__0 {

	height: 800px;
	position:relative;
	border:solid 1px white;
	
}

.row0 img {
	position:relative;
	height:800px;
	width:100%;
	z-index: 0;
	opacity:.6;
	//border:solid 1px red;
	margin-top: -75px;
	
}







.block_page__first {
	background-image: url("../images/over2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}












.topic__1 h1,
.row_contact__header h1,
.row_contact__header--response h1{
	line-height: 150%;
	font-size: 8.5em;
	text-align: center;
}


.image__paul {

	border:solid 1px #333;
	min-height:360px;
}


.topic__1,
.topic__1__content--left,
.topic__1__content--right,
.topic__1__content--middle {
	color:#555;
	opacity:.8;

	background-color:#ADBAAC;
}

.topic__1 {
	height:800px;
}


.topic__1 h1,
.topic__1__content--left h3,
.topic__1__content--right h3,
.topic__1__content--middle h3,
.row_contact__header h1,
.row_contact__header--response h1 {

	font-family: 'Rock Salt', cursive;
	color:#F6F6EF;
}


.topic__1 p{
	font-size: 1.25em;
	text-align: center;
	line-height: 150%;
	//word-spacing: .1em;
	letter-spacing: .1em;
}


.topic__1__content--left h3,
.topic__1__content--middle h3,
.topic__1__content--right h3 {
	//background-color: gray;
	//opacity:.8;

}

/*.topic__1__content--left p,
.topic__1__content--middle p,
.topic__1__content--right p,
 {
	color:#555;
	font-family: "Geneva", Tahoma, sans-serif;
	line-height: 150%;
}*/


footer{
	padding-top: 100px;
	//background-color: #323130;
	//height: 100px;
}

.footer__contact {
	color:#888;
	margin:0;
	padding:0;
	//opacity:.7;
}

.row_contact__details .col-1-1 h2 {
	text-align: center;
}


label{
	width:20px;
	margin-right:10px;
}


.field {
    border: 1px solid #999;
    margin-top:5px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

.contact__form--left {
	float:left;
}

.contact___first_name,
.contact__last-Name {
	float:left;
}

.contact__email_address,
.contact__phone {
	float:right;
}

.contact__first_name,
.contact__last_name,
.contact__email_address,
.contact__phone {
	height:24px;
	margin-left:10%;

}

.contact__email_me {
	float: right;
}


.contact__email{
	color:#2c3e50;
    background-color: #ecf0f1;
    padding:4px 10px;
    border-radius: 5px;
    border: solid 2px #2ecc71;
    margin-left:5px}



