*{
	box-sizing:border-box;
	padding:0;
	margin:0;
}

body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


p {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 4px;
		padding-top: 20px;
}


h1, h2, h3{
	font-family: Zapfino;
}


.logo h3,
.menu h3
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.logo,
.menu,
.title {
	text-align: center;
	color:#555;
}


.rowtop {
	min-height: 150px;
	border:solid 1px black;
}

.row0 .col-1-1 .topic__0 {

	height: 800px;
	position:relative;
	background-color: #ADBAAC;
}

.row0 img {
	position:relative;
	height:800px;
	width:100%;
	//background-color: #ADBAAC;
}

.welcome {
	position:absolute;
	width:50%;
	left:50%;
	margin-left: -25%;
	//color:#ecf0f1;
	font-size: 2em;


}

.welcome h1{
font-family: 'Rock Salt', cursive;

}


.row1 {

	margin-top:100px;
}

/*.row2 p{

	font-size: 1.6em;
	margin-top:0;
	line-height: 150%;
	word-spacing: .1em;
	color:#777;
}*/



/*.topic__1 p {
	width:50%;
	margin-left:25%;
}*/

.topic__1 h1 {
	line-height: 150%;
	font-size: 8.5em;
	text-align: center;
}


.image__paul {

	border:solid 1px #333;
	min-height:360px;
}


.topic__1,
.topic__1__content--left,
.topic__1__content--right,
.topic__1__content--middle {
	color:#555;
	opacity:.8;
}


.topic__1 h1,
.topic__1__content--left h3,
.topic__1__content--right h3,
.topic__1__content--middle h3 {

	font-family: Zapfino;
	color:#00a3d3;
}


.topic__1 p{
	font-size: 1.25em;
	text-align: center;
	line-height: 150%;
	//word-spacing: .1em;
	letter-spacing: .1em;
}


.topic__1__content--left h3,
.topic__1__content--middle h3,
.topic__1__content--right h3 {
	//background-color: gray;
	//opacity:.8;

}

/*.topic__1__content--left p,
.topic__1__content--middle p,
.topic__1__content--right p,
 {
	color:#555;
	font-family: "Geneva", Tahoma, sans-serif;
	line-height: 150%;
}*/



.footer__contact {
	color:#555;
	//opacity:.7;
}




